.bg-primary {
    background-color: forestgreen;
}

.bg-secundary {
    background-color: aqua;
}

.bg-info {
    background-color: aqua;
}

.text-primary {
    color: blueviolet;
}

.text-light {
    color: aliceblue;
}

.text-secundary {
    color: bisque;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.width-100 {
    width: 200px;
}